.page-centralpj
    body
        padding-top 170px
    .page-content
        max-width 1250px
        margin 0 auto
        width 100%
        background #fff
        .board_htm
            width 100%
            .main
                width 100%
                padding 0 5px

                .ld_holder_homem
                    width 100%
                    background-position: right
                    margin-left 0
                
                .ld_holder_ferramenta
                    background-size cover

                .menu-sanfona
                    > li
                        .ld_boxbrown
                            display flex
                            align-items center
                            justify-content center

                            .ld_bluefont
                                display flex
                                align-items center
                                justify-content center
                                > img
                                    width 50px
                                    object-fit contain
                .ld_box_compra_tel
                    background-size cover
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: auto;
                    padding 0 5px
                    .frase_topo
                        display flex
                        align-items center
                        position relative
                        justify-content center
                        flex-wrap wrap
                        > img
                            min-width 70px
                            width 75px
                            object-fit contain
                            margin-bottom 20px
                    .ld_txtthanks
                        margin 5px
                        height auto
                    .ld_form_cot_tel
                        > form
                            > img
                                display: inline-block;
                                height: 54px;
                                vertical-align: middle;
                            > input
                                display: inline-block;
                                box-sizing: border-box; 
                                width: calc(100% - 60px); 
                                padding: 5px;
                            .ld_erro_form
                                margin 10px 0
                                height auto
                .ld_box_compra_email
                    background-size cover
                    display flex
                    flex-direction column
                    align-items center
                    justify-content center
                    height auto
                    .frase_topo
                        display flex
                        align-items center
                        position relative
                        justify-content center
                        flex-wrap wrap
                        > img
                            min-width 70px
                            width 75px
                            object-fit contain
                            margin-bottom 20px
                    .ld_txtthanks
                        margin 5px
                        height auto
                    .ld_form_cot_email
                        > form
                            > img
                                display: inline-block;
                                height: 54px;
                                vertical-align: middle;
                            > input
                                display: inline-block;
                                box-sizing: border-box; 
                                width: calc(100% - 60px); 
                                padding: 5px;
                            .ld_erro_form
                                margin 10px 0
                                height auto
                            .ld_txtrodape
                                margin 10px 0
                            > div
                                > img
                                    display: inline-block;
                                    height: 54px;
                                    vertical-align: middle;
                                > textarea
                                    display: inline-block;
                                    box-sizing: border-box; 
                                    width: calc(100% - 60px); 
                                    padding: 5px;
                                    resize none
                                     min-height: 150px;
                .ld_box_compra_chat
                    background-size cover
                    display flex
                    flex-direction column
                    align-items center
                    justify-content center
                    min-height 233px
                    .frase_topo
                        display flex
                        align-items center
                        position relative
                        justify-content center
                        flex-wrap wrap
                        > img
                            min-width 70px
                            width 75px
                            object-fit contain
                            margin-bottom 20px
                    .ld_holder_btnchat
                        margin-top 20px !important

@media screen and (max-width 1050px)
    .page-centralpj
        .page-content
            .board_htm
                .main
                    .ld_holder_txt
                        padding 10px
                        display flex
                        align-items center
                        justify-content center
                        flex-direction column
                        text-align center
                    .ld_holder_homem
                        margin-top 2px
                        background-position center