.page-login
  .container-titulo-login h1
    text-align center
    color primary
    font-size 32px
    line-height 40px
    font-weight 700
    margin 40px 0 30px 0


  /.main__container .carrinho-heading, .carrinho-heading
    text-align center
    margin-bottom 25px

    >.color
      font-size 32px
      line-height 35px
      font-weight 700
      line-height 130%
      color #292F3E

  /.main__container .carrinho-tabs, .carrinho-tabs
    width 552px
    max-width 100%
    margin 35px auto

    ol
      display flex
      justify-content space-between

      .passo-num
        display none

      .passo-desc
        color #000
        margin 0 0 5px 0

      .passo-desc, .passo-text
        font-size 12px

      .passo-text
        font-weight 400

      li.active
        .passo-text
          font-size 16px
          font-weight 700
          color #525252

        .passo-desc
          font-weight 700

  .main__container
    > .container
      width 556px
      max-width 100%
      margin 0 auto 85px auto

      > .container2
        border 1px solid #ededed

      .Cadastro.caixa-cadastro, .Login.caixa-login
        text-align center
        padding 60px 0

        fieldset
          padding 0
          margin 0
          border none

        h3, label, p
          font-weight 400
          font-size 14px
          line-height 22px

        .botao-novo-cadastro, .botao-efetuar-login
          width 225px
          height 42px
          line-height 41px
          background #525252
          text-align center
          color tertiary
          font-size 16px
          border-radius 21px
          font-weight 700
          transition all .3s
          border 1px solid primary

      .Cadastro.caixa-cadastro
        border-top 1px solid #ededed
        background #fbfbfb

        .botao-novo-cadastro
          font-size 0

          &:after
            content 'Cadastrar'
            display inline
            font-size 16px
            line-height 40px

        .cadastro-campo.campo-email label
          margin 22px 0 33px 0
          display block
          font-size 0

          > input[type='email']
            border none
            height 42px
            border-bottom 1px solid #ededed
            text-align center
            max-width 280px
            width 100%
            font-size 12px
            background rgba(0, 0, 0, 0)

            &::placeholder
              opacity .7

  @media desktop
    .main__container
      >.container
        .Cadastro.caixa-cadastro, .Login.caixa-login
          .botao-novo-cadastro, .botao-efetuar-login
            &:hover
              border-color #525252
              background rgba(0, 0, 0, 0)
              color #525252

  @media mobile
    .main__container
      >.container
        .Cadastro.caixa-cadastro, .Login.caixa-login
          padding 35px 12px

  @media (max-width 540px)
    .carrinho-tabs
      display none

    .carrinho-heading
      margin 35px 0
