.logo
  max-width 225px
  display flex
  align-items center
  max-height 50px

  &__h1
    font-size 0

  &__link
    display block
    line-height 0

    img
      transition all 333ms
      max-height 82px

@media mobile
  .logo__link img
    max-width 28vw
