<div class="page-catalog__content">

    {% if products|length > 0 %}

 
        <div class="page-catalog__main">

            {% if banner.title %}
            
                <!-- Banner Title-->
                {% if banners.extra20 and utils.is_mobile %}
                    {% element 'snippets/banner' {name: 'extra20'} %}
                {% else %}
                    {% if banners.title %}
                        {% element 'snippets/banner' {"name": 'title' } %}
                    {% endif %}
                {% endif %}

            {% endif %}

            <div class="page-catalog__showcase  main__container">
                
                {% element 'showcase-catalog' {'products': products } %}

            </div>

            <div class="page-catalog__paginate  main__container">

                {% element 'snippets/paginate' %}

            </div>

        </div>

    {% else %}

        <div class="page-catalog__empty">Nenhum Produto Encontrado</div>

    {% endif %}

</div>