<!--Inicio Zoom-->

<script>
const imageContainers = document.querySelectorAll('.gallery-image');

imageContainers.forEach((container) => {
    container.addEventListener('mousemove', zoom);
    container.addEventListener('touchmove', zoom);
});

function zoom(e) {
    var imageBack = e.currentTarget.querySelector("img");
    if (imageBack) {
        var imageZoom = imageBack.getAttribute('src');
        var zoomer = e.currentTarget;
        e.offsetX ? offsetX = e.offsetX : offsetX = e.touches[0].pageX;
        e.offsetY ? offsetY = e.offsetY : offsetX = e.touches[0].pageX;
        x = offsetX / zoomer.offsetWidth * 100;
        y = offsetY / zoomer.offsetHeight * 100;
        zoomer.style.backgroundPosition = x + '% ' + y + '%';
        zoomer.style.backgroundImage = `url('${imageZoom}')`;
        imageBack.addEventListener("mouseout", function () {
            zoomer.removeAttribute("style");
        });
    }
}
</script>
<!--Fim Zoom-->
<section class="page-product__content top">
    <a class="page-product--return" href="/">voltar</a>


    {% element 'snippets/schema' %}


    <div class="page-product__top main__container">

        <div data-thumbnail="{{ asset('img/thumbnail.png')}}" data-width="{{ settings.default_image_zoom_width }}" data-height="{{ settings.default_image_zoom_height }}" class="page-product__image">

            {% if product.images %}
    
                {% element 'snippets/gallery' %}
    
            {% else %}

                <div class="page-produtc__gallery page-produtc__gallery--no-image">
                    
                    <img src="{{ asset('img/no-image.svg') }}" alt="Nenhuma imagem foi cadastrada">
                    
                </div>
                
            {% endif %}

        </div>

        <div class="page-product__info">

            <div class="page-product__ranking">

            </div>

            <h1 class="page-product__name">{{ product.name }}</h1>

            {% if product.brand %}
                <p class="page-product__brand">Marca: {{ product.brand }}</p>
            {% endif %}

          

            <form class="page-product__form" id="form_comprar" method="post" data-app="product.buy-form" action="{{ links.cart_add ~ product.id }}">

            {% element 'snippets/product-payment'  %}
        
                
                <div class="page-product__variations">
                    {{ productHelper.variants() }}
                </div>

                {% if productHelper.gifts() %}

                    <div class="page-product__gift">

                        {{ productHelper.gifts() }}
                        
                    </div>

                {% endif %}

                {% if product.additional_information %}

                    <div class="page-product__additional-info">

                        {{ product.additional_information }}
                    
                    </div>

                {% endif %}

                {% if not product.additional_message %}

                    <div class="additional-message">

                        {{ product.additional_message }}

                    </div>

                {% endif %}

            </form>

        </div>

    </div>

    {% element 'snippets/buy-together' %}

</section>
{% if product.description %}
    <section class="products-description">
        <div class="main__container">
            <div class="products-description--infos">
                <h2>{{ product.name }}</h2>
                <p>Marca: {{ product.brand }}</p>
                <p>Disponibilidade: {{ product.availability }}</p>
            </div>
            {{product.description}}
        </div>        
    </section>
{% endif %}
    <section>
        {{ productHelper.bundle() }}
    </section>
    {% if product.video %}
        <section class="products-video">

            <div class="products-video--main main__container">
                <p>Veja uma review</p>
                <iframe 
                src="{{product.video}}"
                width="560" 
                height="698px" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
            </iframe>
            </div>
        </section>
    {% endif %}
 
{% if product.related_products %}

    <section class="products-related ">
        <div class="history__main--line"></div>
        <h3 class="products-related__title">Veja também</h3>
        
        <div data-carrosel="true" class="showcase__list showcase__list--related  main__container ">

            {% for product_related in product.related_products %}

                <div class="showcase__item related">

                    {% element 'snippets/product' {'product': product_related } %}

                </div>

            {% endfor %}
            
        </div>

    </section>

{% endif %}
