.product
  transition margin-bottom 222ms linear

  &__content
    transform rotate(90deg)
    width 444px
    margin 0 auto
    position relative
    border none
    border-radius 5px
    padding-bottom 14px
    transition all 333ms
    overflow hidden

    &--especifid
      > a
        > figure 
          > img 
            width: 100%;
            object-fit: fill;
            height: 100%;
      .product
        &__name
          > a
            color #000
            text-align center
            font-family 'Montserrat', sans-serif
            font-size 24px
            font-style normal
            font-weight 700
            line-height normal
            height 110px
            display flex
            align-items baseline

        &__payments
          .operadora, .txt-forma-pagamento
            display none
            
        &__prince, &__payments
          color #000
          text-align center
          font-family 'Montserrat', sans-serif
          font-size 20px
          font-style normal
          font-weight 400
          line-height normal
          
        &__prince
          margin-top 14px
          
          .txt-corparcelas
            .txt-corparcelas
              .preco-parc2
                  &::after
                    content ' '


  &__list
    margin 0 -10px

  &__link
    display block
    line-height 0

    &--image
      padding 8px

  &__image
    line-height 0
    position relative
    display flex
    aspect-ratio 280/350
    overflow visible
    width 444px

    &.colorblack
      filter grayscale(100%)
      width 100%
      height 400px

    img
      object-fit contain
      max-height 100%
      max-width 100%
      transition .3s all
      width 444px

  
  &__name

    > a
      color #000
      font-family 'Montserrat', sans-serif
      font-size 36px
      font-style normal
      font-weight 400
      line-height normal
      text-align center
      margin 0 auto
      display flex
      align-items center
      justify-content center

  &__price
    margin-bottom 10px

  &__buttons
    height 38px
    text-align center
    position absolute
    display flex
    align-items center
    margin-top 2em


  &__button
    width 204px
    height 38px
    background-color #ffffff
    transition all 0.3s
    border-radius 8px
    font-weight 700
    font-size 14px
    line-height 18px
    text-align center
    color #000000
    position absolute
    bottom 0
    transform translate(36%)

    &:hover
      background-color #30302f

  @media desktop
    &__name,
    &__price
      padding-inline 16px

    &:hover
      margin-bottom -38px // height of hidden button

      & ^[0]
        &__content
          border-color primary
          &:hover
            opacity 0.55

  @media mobile
    &__buttons
      height 38px
      width 10%
      margin 0 auto
    &__button
      opacity 1
      visibility visible
      width 70%
    &__name,
    &__price
      padding-inline 10px
    &__content 
      width 430px
      height fit-content