.menu
  &__icon
    display grid
    place-items center
    width 32px
    height 32px

// Menu desktop
@media desktop
  .menu
    &__icon
      > svg
        transition all 333ms
        fill #fff

    &__arrow
      display none

    &__title
      font-size 24px
      line-height 36px
      color #525252
      font-weight 400

    &__button
      cursor pointer
      padding 0 10px
      height 28px
      border 1px solid #fff
      border-radius unset
      background #525252
      font-size 12px
      color tertiary
      line-height 26px
      transition all 0.3s

      &:hover
        border-color #525252
        background #fff
        color #525252

    &__banner
      line-height 0
      flex 0 1 auto
      min-width 0

    &__img
      max-width 291px
      max-height 211px

    &__see-more
      font-size 12px

    &__content
      display flex
      align-items center

    &--nv_2
      box-shadow 0 4px 20px -10px rgba(0, 0, 0, 0.25)
      // box-shadow 0 4px 14px rgba(0, 0, 0, 0.15)
      padding 8px 0 8px 20px
      width max-content
      z-index 1
      background #009FE3
      transition all 0.2s ease
      opacity 0
      visibility hidden
      position absolute 
      top 100%
      max-height calc(100vh - 180px)
      height fit-content
      border-radius 0 0 8px 8px

    &--nv_3
      box-shadow 0 4px 20px -10px rgba(0, 0, 0, 0.25)
      background-color #fff
      transition all 0.3s
      opacity 0
      visibility hidden
      position absolute
      top 0
      left 100%
      padding 10px 0 10px 10px
      width max-content
      height 100%
      margin-left -7px

    &--nv_2,
    &--nv_3
      pointer-events none

    &__item
      a
        cursor pointer
        

      &--offers:hover
        & ^[0]__link--offers
          background-color #ffffff
          color #009FE3

      &--nv_1
        position relative

        &:nth-child(-n+4)
          > .menu
            left 0

        &:nth-child(n+5)
          >.menu
            right 25px

        &:hover
          & > ^[0]--nv_2
            opacity 1
            visibility visible
            width auto
            pointer-events auto
            height calc(100vh - 180px)
            min-height 290px
            transition .2s ease-out

      &--nv_2
        padding 2px 20px 2px 8px

        &:hover
          background-color #fff

          & > ^[0]__link
            & ^[0]
              &__icon svg
                fill #2B6FF1

              &__label
                color #2B6FF1

              &__svg > path
                fill #2B6FF1

          & > ^[0]--nv_3
            opacity 1
            visibility visible
            pointer-events auto
            width 225px

      &--nv_3
        padding-inline 15px 20px

        &:hover
          background-color #Fafbfd

          & > ^[0]__link
            & ^[0]__label
              color secondary

      &--nv_2,
      &--nv_3
        margin 3px 0
        transition all 0.3s

    &__label
      transition all 0.3s

    &__list
      &--nv_1
        position relative
        display flex
        gap 2px
        align-items center
        justify-content space-around

      &--nv_2
        min-width 0
        min-width min-content
        align-self flex-start
        height 100%
        overflow auto

      &--nv_3
        height 100%
        overflow auto

    &__link
      &--offers
        font-size 12px
        font-weight bold
        line-height 22px
        color #fff
        text-transform uppercase
        display block
        padding 2px 15px
        border-radius 8px 8px 0 0
        background-color secondary
        transition all 333ms

      &--nv_1
        padding 3px 2px
        border-radius 8px 8px 0 0
        > .menu__label
            &:hover
              color #0199FF

        &:not(.has-sub)
          display block

        &.has-sub
          display flex
          align-items center
          gap 8px

        .menu
          &__label
            color #fff
            text-transform uppercase
            font-size 12px
            line-height 22px
            font-weight 500
            text-align center

      &--nv_2,
      &--nv_3
        & ^[0]__label
          font-size 14px
          line-height 18px

      &--nv_2
        display flex
        align-items center
        gap 10px
        padding: 4px 0;

        & ^[0]__label
          color #fff
          font-weight bold
          white-space nowrap
          display flex
          align-items center
          justify-content space-between
          width 100%

          > svg
            margin-left 5px
            transform rotate(270deg)
            > path
              fill #fff

      &--nv_3
        display inline-block
        padding-block 7.5px

        & ^[0]__label
          color gray-c

  @media (max-width 1209px)
    .menu
      &__item--nv_1:nth-last-child(2)
        display none

      &__list--nv_1
        justify-content space-between

// Menu mobile
@media mobile
  .menu
    &__label
      color tertiary

    &__arrow
      height 48px
      width 48px
      display flex
      align-items center
      justify-content center
      margin-right -10px
      background rgba(0, 0, 0, 0)
      transition all 0.3s

      > svg
        fill secondary

      &[data-expanded='true']
        transform rotate3d(0, 0, 1, 90deg)

        + .menu > ul > li:last-child
          border-bottom-color rgba(0, 0, 0, 0)

    &--nv_2,
    &--nv_3
      display none
      flex 100%

    &--nv_2
      background #f7f7f7

    &--nv_3
      background #e7e7e7

    &__item
      display flex
      justify-content space-between
      align-items center
      min-height 48px
      position relative
      flex-wrap wrap
      border-bottom 1px solid #ededed
      &--more-categories
        > .popup
            display none
    &__list
      &--nv_2,
      &--nv_3
        margin-left 10px

    &__link
      &--nv_2
        display flex
        align-items center
        gap 9px
        justify-content flex-start

    &__icon
      > svg
        fill tertiary
