.showcase

  &__home
    &--container
      > a
        display flex
        width 485px
        height 45px
        flex-direction column
        justify-content center
        color #FFF
        text-align center
        font-family 'Montserrat', sans-serif
        font-size 24px
        font-style normal
        font-weight 500
        line-height normal
        background #06F
        border-radius 50px
        margin 0 auto
        &:hover
          opacity 0.7
          transform scale(1.2)

        .showcase
          height 1250px

          @media mobile
            height: auto

        @media mobile
          flex-wrap wrap
          width 100%

        &::hover
          opacity 0.5
          scale 0.8

  &--catalog,
  &--search
    padding 14px 0 50px

  &__header
    margin-bottom 25px

  &__title
    color #1F1E1E
    font-family 'Montserrat', sans-serif
    text-align center
    font-size 36px
    font-style normal
    font-weight 600
    line-height normal
    margin-top 74px

  &__item
    &.slick-slide
      padding 0.531rem

  &__list
    display flex
    min-height 540px
 
    gap 1em
    justify-content center
    .slick-prev
      left -47px
    .slick-next
      right: -47px

    .slick-initialized
      margin-bottom -38px

    &--catalog,
    &--search
      flex-wrap wrap

      > .showcase__item
        width calc((100% / 4))
        min-width 0

        &:nth-child(n + 5)
          margin-top 80px

        .product
          width auto
          padding 0 8px
          
  @media desktop
    .slick
      &-track
        padding-bottom 38px // height of hidden button
    &[data-carousel='true']
      .showcase__list:not(.slick-initialized)
        .showcase__item:nth-child(n+5)
          display none

      .slick
        &-list
          margin-inline -10px

  @media mobile
    &[data-carousel='true']
      .showcase__list:not(.slick-initialized)
        .showcase__item:nth-child(n+3)
          display none

    &__item
      &.slick-slide
        padding 5px

    &__list
      margin-inline -10px
      .slick-prev
        left 0
      .slick-next
        right 0

  @media (max-width 881px)
    &__list
      &--catalog,
      &--search
        > .showcase__item
          width calc((100% / 3))

          &:nth-child(n+4)
            margin-top 60px

  @media (max-width 595px)
    &__list
      &--catalog,
      &--search
        margin 0 -10px

        > .showcase__item
          width calc((100% / 2))

          &:nth-child(n+3)
            margin-top 40px
