.compare
  text-align center
  padding 10px 0

  &__link
    label
      cursor pointer

  &__input
    appearance none
    width 15px
    height 15px
    border 1px solid border-2
    border-radius 2px
    vertical-align middle
    transition all 0.3s
    cursor pointer
    background-color #fff

    &:checked
      position relative
      border-color #FF891D

      &:after
        content '\2713'
        font-size 16px
        font-weight 700
        color #FF891D

  &__label
    font-size 12px
    line-height 15px
    color #36383A
    display inline-block
    margin-left 8px
    transition all 0.3s

  @media desktop
    &__link
      &:hover
        opacity 0.65

  @media mobile
    &__label
      font-size 13px
