.fabrica
    &__main
        margin-top 4em
        &--video
            line-height normal
            font-style normal
            color #1F1E1E
            text-align center
            font-family 'Montserrat', sans-serif

            > h1 
                font-size 40px
                font-weight 700

                @media mobile
                    font-size 30px

            > h2 
                font-size 20px
                font-weight 400
            
            > iframe 
                width 1112px
                height 621px
                flex-shrink 0
                border-radius 20px
                margin-top 4em

                @media mobile
                    width 100%

        &--content
            margin-top 6em
            color #000
            text-align justify
            font-family 'Montserrat', sans-serif
            font-size 20px
            font-style normal
            font-weight 400
            line-height normal

            &-first
                display flex
                gap 3em

                @media mobile
                    flex-wrap wrap

            > a  
                display flex
                width 1016.169px
                height 64px
                flex-direction column
                justify-content center
                flex-shrink 0
                color #FFF
                text-align center
                font-family 'Montserrat', sans-serif
                font-size 32px
                font-style normal
                font-weight 600
                line-height normal
                background black
                border-radius 45px
                transform translate(17%)
                margin-top 30px
                margin-bottom 30px

                @media mobile
                    width 100%
                    font-size 15px
                    transform translate(0)

        &--carrosel
            padding-block 7em

            &-item 
                padding-top 4em

                .slick-list
                    .slick-track
                        display flex 
                        gap 1em
                        .slick-slide
                            > div  
                                > img 
                                    width: 496px;
                                    height: 455px;
                                    flex-shrink: 0;
                                    object-fit: fill;
                                    border-radius: 20px;

            > h3
                display flex
                width 898px
                height 77px
                flex-direction column
                justify-content center
                flex-shrink 0
                color #1f1e1e
                text-align center
                font-family 'Montserrat', sans-serif
                font-size 36px
                font-style normal
                font-weight 600
                line-height normal
                margin 0 auto
                border-radius 37.5px
                border 1px solid #717171
                background #fff
                
                @media mobile
                    width 98%
                    font-size 25px


.page
    &__custom
        &--content
            margin-top 7em
            margin-bottom 4em
            color #1F1E1E
            font-family 'Montserrat', sans-serif
            font-style normal
            line-height normal
            text-align center

            > h1
                margin-top 4em
                font-size 40px
                font-weight 700

                @media mobile
                    font-size 25px
            > h2 
                font-size 20px
                font-weight 400
                padding-block 40px
            > form
                > div
                    padding-block 12px
                    display grid
                    text-align justify

                    > label
                        color #000
                        font-family 'Montserrat', sans-serif
                        font-size 20px
                        font-style normal
                        font-weight 600
                        line-height 150%
                        @media mobile
                            font-size 17px

                    > input, > select, > textarea 
                        border none
                        background #fff
            
            &-button
                > button
                    color #FFF
                    text-align center
                    font-family 'Montserrat', sans-serif
                    font-size 32px
                    font-style normal
                    font-weight 600
                    line-height normal
                    border-radius 85px
                    width 555px
                    height 64px
                    flex-direction column
                    justify-content center
                    flex-shrink 0
                    display flex
                    align-items center
                    margin 50px auto

                    @media mobile
                        width 100%
#btn_submit
    color #FFF
    text-align center
    font-family 'Montserrat', sans-serif
    font-size 32px
    font-style normal
    font-weight 600
    line-height normal
    border-radius 85px
    width 555px
    height 64px
    flex-direction column
    justify-content center
    flex-shrink 0
    display flex
    align-items center
    margin 50px auto

    @media mobile
        width 100%
.block
    > input, > select, > textarea 
        border none
        background:  #fff
    .block
        color #000