<div class="price">
    {% if product.available %}

        {% if product.stock > 0 or settings.without_stock_sale %} 

            {% if product.upon_request %}
                
                <p class="price__upon-request">Produto Sob Consulta</p>
            
            {% else %}

                <div class="price__content{{ product.has_other_prices or product.price_offer > 0 ? ' price__content--other'}}">

                    {% if product.has_other_prices %}

                        <span class="price__starting-at"></span>

                    {% endif %}

                    {% if product.price_offer > 0 and product.show_price %}

                        <span class="price__de">{{ settings.currency}} {{ product.price|currency}}</span>

                        <span class="price__por">{{ settings.currency}} {{ product.price_offer|currency}}</span>

                    {% else %}

                            <span class="price__por">{{ settings.currency}} {{ product.price|currency}}</span>
                        {% endfor %}

                    {% endif %}

                </div>

            {% endif %}

        {% else %}

            <p class="price__sold-out">Esgotado !</p>

        {% endif %}

    {% else %}

        <p class="price__unavailable">Produto Indisponível</p>

    {% endif %}
</div>