.product-payment
  color #000
  font-size 13px
  line-height 20px

  strong
    font-weight 700

  > br
    display none

  
  &__pix
    font-size 13px
    line-height 15px
    color tertiary
    margin-bottom 5px

  &__pix > b 
    font-size 24px
    color #005a99
  &__card > b:first-of-type
    font-weight normal

  @media mobile
    &__pix > b 
      font-size 16px
