.page-listas_index
  .main__container
    > .container3 > .container2 > .board > h2
      font-size 30px
      color primary
      text-align center
      margin 40px 0

    > .board
      width 800px
      max-width 100%
      margin 0 auto 45px auto
      padding 22px 15px
      background #f7f7f7
      border 1px solid #ededed
      border-radius 4px

      #tipos-listas
        h3
          font-size 16px
          font-weight 400
          color #525252
          margin-bottom 5px

        li
          &:not(:first-child)
            margin-top 25px

          a
            display block
            line-height 0

.page-listas_evento
  .main__container
    input[type='text']
      display block
      width 100%
      border 1px solid #ededed
      border-radius 4px

    .banner_lista, & .banner_lista + div
      width 800px
      max-width 100%
      margin 0 auto

    .banner_lista
      margin-top 45px

      & + div
        margin-bottom 45px !important

        h2
          font-size 16px
          margin 15px 0
